# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Test coverage
coverage/

# Build output
/dist
/build

# Misc
*.tgz

# Ignition logs
ignition_logs/

# Public logs
public/meter-logs/
ignition_logs.zip
__tests__